/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.dashboard__cat {
  text-align: center;
  margin-top: 24px;
}

.dashboard__cat-message {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.dashboard__cat-image {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
